<p>
  <strong>First Name:</strong>
  <%= @instructor.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @instructor.last_name %>
</p>

<p>
  <strong>e-mail:</strong>
  <%= @instructor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @instructor.phone %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @instructor.bio %>
</p>

 
<%= link_to 'Edit', edit_instructor_path(@instructor) %> 
 