<p>
  <strong>Name:</strong>
  <%= @schedule.name %>
</p>
 
<p>
  <strong>Note:</strong>
  <%= @schedule.note %>
</p>  

<p>
  <strong>Start Date:</strong>
  <%= @schedule.start_date.to_s %>
</p>  

<p>
  <strong>End Date:</strong>
  <%= @schedule.end_date.to_s %>
</p>  

<p>
  <strong>Status:</strong>
  <%= @schedule.status %>
</p>  
 